@import "tailwindcss";



@theme inline {
  --color-background: #ede9de;
  --color-foreground: #2C3B4E;
  --color-primary: #2C3B4E;
  --color-gray: #C9C2B2;
  --font-aeonik: var(--font-aeonik);
  --font-ki: var(--font-ki);
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-aeonik);
}

.mask-gradient {
  mask-image: linear-gradient(to bottom, transparent, black 20%, black 80%, transparent);
}


h1, h2, h3, h4, h5, h6 {
  letter-spacing: -0.05em;
}

#leva__root {
  z-index: 9999 !important;
}

.dot {
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 9999px;
  background: #ff6b00;
  will-change: transform;
}

/* Dot positions */
.dot:nth-child(1) {
  top: 0;
  left: 0;
}

.dot:nth-child(2) {
  top: 0;
  right: 0;
}

.dot:nth-child(3) {
  bottom: 0;
  left: 0;
}

.dot:nth-child(4) {
  bottom: 0;
  right: 0;
}

@keyframes smoothOrbit {
  0% {
    transform: rotate(0deg) scale(1);
  }

 
  50% {
    transform: rotate(180deg) scale(0.62);
  }



  100% {
    transform: rotate(360deg) scale(1);
  }
}

.animate-orbit {
  animation: smoothOrbit 2.8s cubic-bezier(0.76, 0, 0.24, 1) infinite;
  transform-origin: center center;
}